/***********************************************************************************/
/*                                  Media Queries                                  */
/***********************************************************************************/
@media only screen and (max-width: 640px) {

.header{
	height: auto;
}
.social-links{
	float: none;
	text-align: center;
	line-height: 40px;
}
.logo{
	float: none;
	text-align: center;
}
.post-toc{
	max-width: none;
	float: none;
	margin: 0 0 1em 0;
}

.sidebar{
	display: none;
}
.post-list .post-time{
	position: static;
	float: none;
}
.post-list .post-title{
	margin-right: 0;
}
.main{
	padding: 10px;
}
.footer .left,
.footer .right{
	float: none;
}
.post-content{
	font-size: .8em;
}

/*e640*/
}
