<div class="header">
	<h1 class="logo">
		<a href="\">于江水</a>
	</h1>
	<p class="social-links">
		<a href="http://www.weibo.com/yujiangshui">Weibo</a>
		\
		<a href="https://twitter.com/yujiangshui">Twitter</a>
		\
		<a href="https://github.com/yujiangshui">Github</a>
		\
		<a href="/atom.xml">RSS</a>
	</p>
</div>