<div class="post-share">
	<ul class="share-list">
		<li><a class="icon icon-weibo" href="javascript:share.weibo();"><span>weibo</span></a></li>
		<li><a class="icon icon-twitter" href="javascript:share.twitter();"><span>twitter</span></a></li>
		<li><a class="icon icon-douban" href="javascript:share.douban();"><span>douban</span></a></li>
		<li><a class="icon icon-qzone" href="javascript:share.qzone();"><span>qzone</span></a></li>
	</ul>
</div>