<ul class="sidebar">
	<li class="sd-item sd-intro">
		<div class="intro">
			<p class="intro-avatar"><img src="/images/avatar.png" alt=""></p>
			<p class="intro-name">于江水</p>
			<p class="intro-des">前端工程师</p>
		</div>
	</li>
	<li class="sd-item sd-category">
		<span class="sd-title">分类目录</span>
		<%- list_categories({
			show_count:false
		}) %>
	</li>
	<li class="sd-item"><a href="/about/">关于</a></li>
</ul>